@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --h-shadow-color: #fff,
}
[data-theme="dark"] {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --h-shadow-color: #000,
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

header{
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));

}
button:focus {
  outline: none;
}